.layout-wrapper {
  position      : relative;
  display       : flex;
  flex-direction: column;
  width         : 100vw;
  min-width     : 1000px;
  height        : 100vh;
  min-height    : 670px;
}

.layout-content {
  display         : flex;
  flex            : auto;
  overflow        : hidden;
  background-color: #252525;
}
