@import './styles/components/index.less';

/* purgecss start ignore */
@import "tailwindcss/base.css";

html {
  @apply font-serif leading-tight antialiased overflow-hidden;

  -webkit-text-size-adjust   : 100%;
  -ms-text-size-adjust       : 100%;
  text-size-adjust           : 100%;
  -ms-overflow-style         : scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  @apply font-sans leading-normal text-14 text-gray-900 select-none overflow-hidden;

  font-variant                 : tabular-nums;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings        : 'tnum';
}

@import "tailwindcss/components.css";

/* purgecss end ignore */
@import "tailwindcss/utilities.css";
