.rank-grid {
  @apply grid grid-cols-5 col-gap-24 row-gap-52;
}

.rank-grid-img {
  position     : relative;
  margin-bottom: 4px;
  overflow     : hidden;
  @apply rounded cursor-pointer;
}

.rank-grid-play-number {
  position: absolute;
  top     : 4px;
  right   : 10px;

  @apply text-white text-12;
}



.rank-grid-icon {
  position  : absolute;
  top       : 50%;
  left      : 50%;
  transform : translate(-50%, -50%);
  visibility: hidden;
}

.rank-grid-img:hover .rank-grid-icon {
  visibility: visible;
}
