.default-img {
  @apply relative bg-black text-white;

  padding-top: 100%;
}

.default-img svg {
  @apply absolute fill-current;

  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%) scale(.5);
}
